.perfil {
  height: 100%;
}

.perfil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil span {
  color: white;
}

.perfil mat-icon {
  color: white;
}

mat-toolbar {
  background-color: #3f51b5;
}
