<h1 class="title-lista">Lista de los clubes inscritos</h1>
<les-container>
  <perfect-scrollbar>
    <les-table [data]="data" [metaDataColumns]="metaDataColumns">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="align-right">
          <button mat-icon-button color="primary" (click)="abrirFormulario(row)" matTooltip="EDITAR">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="eliminar(row)" matTooltip="ELIMINAR">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </les-table>
  </perfect-scrollbar>
  <les-paginator [length]="totalRegistros" (onChangePage)="changePage($event)"></les-paginator>
</les-container>
<les-keypad-button
  [keypadButtons]="keypadButtons"
  (onClick)="enviarAccion($event)"
></les-keypad-button>

